
    <div class="main">
        <div class="graph">
            <h1><center>Boxplot of Age</center></h1>

            <img src="/images/Boxplot.jpeg" alt="...">
        </div>
    </div>
    
    <div class="main">
        <div class="graph">
            <h1><center>Histogram of Age</center></h1>

            <img src="/images/histogram.jpeg" alt="...">
        </div>
    </div>
