<div class="main">
    <div class="graph">
        <h1><center>Scatter plot of Age Vs Ejection Fraction</center></h1>
        <img src="/images/ageVsEject.jpeg" alt="...">
    </div>
</div>
<div class="main">
    <div class="graph">
        <h1><center>Histogram of Age</center></h1>
        <img src="/images/histAge.jpeg" alt="...">
    </div>
</div>
<div class="main">
    <div class="graph">
        <h1><center>Histogram of Ejection Fraction</center></h1>
        <img src="/images/histEject.jpeg" alt="...">
    </div>
</div>