<div class="main">
    <div class="graph">
        <h1><center>Scatter Plot of Platelets Vs Serum Creatinine</center></h1>
        <img src="/images/PlatelestVsSerum.jpeg" alt="...">
    </div>
</div>
<div class="main">
    
    <div class="graph">
        <h1><center>Histogram of Serum Creatinine</center></h1>
        <img src="/images/serum.jpeg" alt="...">
    </div>
</div>
<div class="main">

    <div class="graph">
        <h1><center>Histogram of Platelets</center></h1>
        <img src="/images/Platelets.jpeg" alt="...">
    </div>
</div>