    <nav>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <i style="color: red;" class="fas fa-heart-broken"></i>
        <span class="logo-name">Heart Failure</span>
      </div>
      <div class="sidebar">
        <div class="logo">
          <i style="color: red;" class="fas fa-heart-broken"></i>
          <span class="logo-name">Heart Failure</span>
        </div>

        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="/" class="nav-link">
                <!-- <i class="bx bx-home-alt icon"></i> -->
                <span class="link">Home</span>
              </a>
            </li>
            <li class="list">
              <a href="/age" class="nav-link">
                <!-- <i class="bx bx-home-alt icon"></i> -->
                <span class="link">Age</span>
              </a>
            </li>
            <li class="list">
              <a href="/death" class="nav-link">
                <!-- <i class="bx bx-bar-chart-alt-2 icon"></i> -->
                <span class="link">Death</span>
              </a>
            </li>
            <li class="list">
              <a href="/ageVsEjection" class="nav-link">
                <!-- <i class="bx bx-bell icon"></i> -->
                <span class="link">Age Vs Ejection</span>
              </a>
            </li>
            <li class="list">
              <a href="/PlateletsVSSerum" class="nav-link">
                <!-- <i class="bx bx-message-rounded icon"></i> -->
                <span class="link">Platelets vs Serum</span>
              </a>
            </li>
            <li class="list">
              <a href="/summary" class="nav-link">
                <!-- <i class="bx bx-pie-chart-alt-2 icon"></i> -->
                <span class="link">Descriptive Measures</span>
              </a>
            </li>
            <li class="list">
              <a href="/binomial" class="nav-link">
                <!-- <i class="bx bx-heart icon"></i> -->
                <span class="link">Binomial Distribution</span>
              </a>
            </li>
            <li class="list">
              <a href="/prediction" class="nav-link">
                <!-- <i class="bx bx-folder-open icon"></i> -->
                <span class="link">Regression Modeling</span>
              </a>
            </li>
            <li class="list">
              <a href="/confidence" class="nav-link">
                <!-- <i class="bx bx-folder-open icon"></i> -->
                <span class="link">Confidence Interval</span>
              </a>
            </li>
            <li class="list">
              <a href="/adddata" class="nav-link">
                <!-- <i class="bx bx-folder-open icon"></i> -->
                <span class="link">Add Data</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>